name: Checkov Infrastructure as Code
on: 
  pull_request: 
    branches: [main]
    paths: 'terraform/**'
  workflow_dispatch:
jobs:
  scan:
    permissions:
      contents: read
      security-events: write
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Checkov GitHub Action
        uses: bridgecrewio/checkov-action@v12
        with:
          output_format: cli,sarif
          output_file_path: console,checkov.results.sarif

      - name: Upload sarif file
        uses: github/codeql-action/upload-sarif@v3
        if: success() || failure()
        with:
          sarif_file: checkov.results.sarif
